@charset "utf-8";

/* Aqui van todos los estilos de lapagina web*/

#topBar {
	background-color: #626262;
	height: 150px;
}
#texto_logo {
}
.ancho960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#encabezado img {
	float: left;
	margin-top: 30px;
}
#nav {
	background-color: #000;
	height: 60px;
}
