@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?hu1cpz');
	src:url('fonts/icomoon.eot?hu1cpz#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?hu1cpz') format('truetype'),
		url('fonts/icomoon.woff?hu1cpz') format('woff'),
		url('fonts/icomoon.svg?hu1cpz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-newspaper:before {
	content: "\e901";
}
.icon-paint-format:before {
	content: "\e902";
}
.icon-envelop:before {
	content: "\e904";
}
.icon-wrench:before {
	content: "\e903";
}
.icon-facebook2:before {
	content: "\e905";
}
.icon-twitter2:before {
	content: "\e906";
}
.icon-youtube:before {
	content: "\e907";
}

#descargaSoft #SfDescripcion {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: medium;
}
